/* Apply cursive font to all text elements */
body {
    font-family: cursive, sans-serif;
    font-size: 20px;
  }
  

  header {
    font-family: cursive, sans-serif;
   
  }
  
  h1 {
    font-size: 50px;
    margin: 10px;
  }

  p {
    font-size: 25px;
    margin-bottom: 2px;
  }
  /* Style the table headers */
  th {
    font-family: cursive, sans-serif;
  }
  

  td {
    font-family: cursive, sans-serif;
  }
  

  .btn {
    font-family: cursive, sans-serif;
  }
  
  